<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
    </head>
    <body>
        <h1>가천대학교 주차장 혼잡도 현황</h1>
        <div>
            <a href="/parking/aispace">AI 공학관</a>
            <a href="/parking/centerfrontyard">학생회관 정문</a>
            <a href="/parking/centerbackyard">학생회관 후문</a>
        </div>
    </body>
</html>