<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %> 주차장 혼잡도 여부</h1>
        <!-- <img src="/image/example.png" style="width:200px;height: 100px;display:block;margin-top:10px;"> -->
        <img src="/images/example.png">
        <button><a href="/">홈으로 돌아가기</a></button>
    </body>
</html>